#foot{width:100%;height:334px;background-color:#3a3a3a;min-width:1100px;}
#foot_center{width:1100px;height:332px;margin:0 auto;overflow: hidden;}
#foot_center .foot1{width:100%;height:170px;}
#foot_center .foot1 ul{width:130px;height:170px;float:left;}
#foot_center .foot1 ul a{color:#b2b7b6;font-size:12px;}
#foot_center .foot1 ul li{margin-top:12px}
#foot_center .foot1 ul .foot1_1_l {color:#fff;font-size:18px;font-weight:bold;}
#foot_center .foot1 ul .foot1_1_l{margin-top:26px;margin-bottom:16px;}
#foot_center .foot1 .foot1_1{margin-left:18px;}
#foot_center .foot1 .foot1_2{margin-top:60px;margin-left:80px;}
#foot_center .foot1 .foot1_3{margin-left:90px;}
#foot_center .foot1 .foot1_4{margin-left:110px;}
#foot_center .foot1 .foot1_4 img{width:80px;height:80px;}
#foot_center .foot1 .foot1_5{margin-left:117px;}
#foot_center .foot1 .foot1_5 li a{color:#fff;font-size:18px;font-weight:bold;}
#foot_center li a:hover{color:#e9156b}

#foot_center .foot2{width:100%;height:32px;border-top:1px dashed #eee;
border-bottom:1px dashed #eee;margin-top:20px;position: relative;}
#foot_center .foot2 .you{display:block;color:#b2b7b6;line-height:32px;position:absolute;
left:0;}
#foot_center .foot2 .geng{display:block;color:#b2b7b6;line-height:32px;position:absolute;
right:0;}
#center{position:absolute;left:67px;width:980px;overflow:hidden;
height:32px;}
#center_1{position:absolute;left:0px;width:980px;height:96px;}
#foot_center .foot2 .geng a{color:#b2b7b6;}
#foot_center .foot2 p{display:block;line-height:32px;width:100%;}
#foot_center .foot2 p a{color:#b2b7b6;padding:0 10px ;}
#foot_center .foot2 p a:hover{color:#e9156b;}
#foot_center .foot3 span{display: block;margin-left:237px;clear: both;}
#foot_center .foot3 span a img{display:block;margin-left:10px;margin-top:32px;float: left;}
#foot_center .foot3 .foot_p{display:block;width:100%;height:40px;text-align: center;
line-height:40px;font-size:12px;color:#828282;}
