#banner{width:100%;height:430px;min-width:1100px;position: relative;}
#banner img{width:100%;height:430px;}
#banner span{display:inline-block;width:444px;height:40px;border;1px solid #a6a9a9;border-top-left-radius:20px;
border-bottom-left-radius:20px;border-top-right-radius:20px;border-bottom-right-radius:20px;background-color:#3a474c;
position: absolute;z-index:100;left:50%;top:387px;margin-left:-227px;font-size:18px;color:#a1a7a9;line-height:40px;
padding-left:25px;opacity:0.7;}
#banner span img{width:26px;height:23px;margin-top:10px;float: left;}
#banner span #time{display:inline-block;width:230px;height:40px;color:#fff;
font-size:18px;font-weight:bold;word-spacing:3px;position:absolute;left:215px;top:0px;}
#main{width:100%;height:auto;margin-top:10px;}
#main_center{width:1100px;height:auto;margin:0 auto;overflow: hidden;}
#main_center h2{width:100%;height:45px;background-color:#ededed;margin-bottom:10px;}
#main_center h2 img{float:left;}
#main_center_cont{width:100%;height:1110px;}


#main_center_cont div{width:254px;height:356px;border:1px solid #eee;float:left;margin-right:8px;
position: relative;margin-left:10px;margin-bottom:10px;}
#main_center_cont div a p{font-size:12px;color:#999;width:242px;padding-left:12px;line-height:21px;
height:30px;border-bottom:1px dashed #999;padding-top:20px;}
#main_center_cont div a #zhuYeMain_img2{color:#000;font-size:18px;font-weight:bold;margin-left:12px;display: block;margin-top:8px;
margin-bottom:0px;}
#main_center_cont div a #zhuYeMain_img3{color:#eb005e;font-size:14px;margin-left:12px;}
#main_center_cont div a #zhuYeMain_img4 span{color:#eb005e;font-size:11px;display:inline-block;border:1px solid #eb005e;
border-left:none;width:80px;height:16px;line-height:16px;text-align:center ;}
#main_center_cont div a #zhuYeMain_img4 img{border:none;margin-left:10px;vertical-align: middle;margin-top:-4px;
}
#main_center_cont div a #zhuYeMain_img5 img{border:none;margin-right:10px;float:right;}
#main_center_cont div a #zhuYeMain_img10{display:inline-block;position:absolute;left:174px;top:8px}
#main_center_cont div a #zhuYeMain_img0{display:inline-block;right:10px;position:absolute;bottom:40px;display:none;}
#main_center_cont div:hover{border:1px solid #f53e7b;}
#main_center_cont div a #zhuYeMain_img11{width;254px;height:230px;}
#main_center_cont div:hover{border:1px solid #f53e7b;}
#main_center_cont div:hover #zhuYeMain_img0{display:block;}

#main_center p{width:100%;height:47px;line-height:47px;font-size:18px;padding-left:13px;
border-bottom:1px solid #eee;}
#main_center p span{display:inline-block;float:right;margin-right:10px;}
#main_center p span a{font-size:14px;color:#999}

#main_bottom_cont{width:100%;height:890px;}
#main_bottom_cont div{width:520px;height:277px;border:1px solid #eee;float:left;margin-right:15px;
position:relative;margin-left:13px;margin-bottom:10px;margin-top:10px;}
#main_bottom_cont_img2{width:520px;}
#main_bottom_cont_img3{display:inline-block;float:right;width:150px;
height:36px;line-height:36px;color:#333;font-size:18px;margin-right:-20px;}
#main_bottom_cont_img8{float:left;margin-left:7px;margin-top:10px;}
#main_bottom_cont_img4{display:inline-block;font-size:18px;color:#f53e7b;margin-right:3px;}
#main_bottom_cont_img7{display:inline-block;float:right;margin-top:37px;margin-right:-107px;}
#main_bottom_cont_img5{color:#eb005e;font-size:11px;display:inline-block;border:1px solid #eb005e;
border-left:none;width:100px;height:16px;line-height:16px;}
#main_bottom_cont_img5 img{border:none;margin-left:0px;vertical-align: middle;margin-top:-4px;}
#ziyemian1_foot{width:100%;}

#fixed_kefu{position:fixed;right:7%;top:70%;}
#fixed_kefu li:nth-child(1) img{margin-top:0px;}
#fixed_kefu li img{margin-top:-6px;}
#fixed_kefu li:nth-child(4){display:none;}
#fixed_kefu li:nth-child(4) span img{margin-top:0px;display: block;}
#fixed_kefu li{width:36px;height:36px;border:1px solid #999;overflow:hidden;margin-top:5px;}
#fixed_kefu li span{display: block;width:36px;height:36px;background-color:#999;font-size:14px;
color:#fff;text-align:center;}
